@import '/src/assets/styles/variables';

.order {
  position: relative;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid $border;
  border-radius: 6px;

  background-color: $white;

  &__title {
    width: 650px;

    font-weight: 400;
  }

  &__products-btn {
    width: 80px;
  }

  &__products-icon {
    width: 16px;
    height: 16px;
  }

  &__count-container {
    width: 100px;

    text-align: center;
  }

  &__count {
    font-size: 18px;
    text-align: center;
  }

  &__count-label {
    text-align: center;

    color: $text-light;
  }

  &__date {
    width: 150px;
    margin-right: 26px;

    text-align: center;
  }

  &__price {
    width: 300px;
    margin-right: 26px;

    text-align: center;
  }

  &__remove-btn {
    width: 50px;

    background-color: $white;
  }

  &__remove-img {
    width: 12px;
    height: 12px;
  }

  &__close {
    position: absolute;
    right: 0;

    width: 40px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 5px 5px 0;

    background-color: $border;

    transition: background-color $effectDuration;

    &:hover {
      background-color: $text-light;
    }

    &:hover .order__arrow {
      transform: rotate(180deg);
    }
  }

  &__arrow {
    width: 18px;
    height: 16px;

    transition: transform $effectDuration;
  }
}
