@import '/src/assets/styles/variables';

.product-item {
  padding: 10px 30px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid $border;
  border-radius: 5px;

  background-color: $white;

  &__indicator {
    width: 10px;
    height: 10px;

    border-radius: 50%;

    background-color: $secondary-accent;
  }

  &__photo {
    width: 60px;
    height: 50px;

    object-fit: contain;
  }

  &__main-info {
    width: 250px;
  }

  &__title {
    font-size: 16px;

    color: $text-dark;
  }

  &__guarantee {
    width: 150px;
  }

  &__is-new {
    width: 100px;
  }

  &__price {
    width: 100px;
  }

  &__serial-num {
    color: $text-light;
  }

  &__group {
    width: 100px;
  }

  &__status {
    width: 50px;

    color: $secondary-accent;
  }

  &__client {
    width: 50px;
  }

  &__order {
    width: 50px;
  }

  &__order-date {
    width: 50px;
  }

  &__remove-btn {
    width: 50px;

    background-color: $white;
  }

  &__remove-img {
    width: 12px;
    height: 12px;
  }
}
