.container {
  max-width: 1980px;
  padding: 0;
}

.row {
  margin: 0;
}

.col,
.col-2 {
  padding: 0;
}

.main {
  padding: 70px 70px 70px 60px;
}

.fade-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 300ms,
    opacity 300ms;
}

.fade-exit {
  transform: translateX(0);
  opacity: 1;
}

.fade-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 300ms,
    opacity 300ms;
}
