$effectDuration: 0.3s;
$accent: #7CB342;
$accent-dark: #5C8E29;
$secondary-accent: #CDDC39;
$shadow: #c6cabd66;
$text-dark: #36454D;
$text: #546E7A;
$text-light: #90A4AE;
$text-danger: #E8364F;
$bg: #F0F3F5;
$white: #fff;
$border: #CFD8DC;