$effectDuration: 0.3s;
$accent: #7cb342;
$accent-dark: #5c8e29;
$secondary-accent: #cddc39;
$shadow: #c6cabd66;
$text-dark: #36454d;
$text: #546e7a;
$text-light: #90a4ae;
$text-danger: #e8364f;
$bg: #f0f3f5;
$white: #fff;
$border: #cfd8dc;
